.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex: 1;
  padding-top: 80px;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  gap: 4rem;
}

.heroContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px;
}

.preTitle {
  font-size: 1rem;
  color: #666;
}

.preTitle span {
  color: var(--primary);
}

.title {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
}

.highlight {
  color: var(--primary);
}

.subtitle {
  font-size: 1.05rem;
  color: #888;
  line-height: 1.6;
}

.cta {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.ctaButton {
  background: var(--primary);
  color: var(--bg-dark);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s;
  white-space: nowrap;
}

.ctaButton:hover {
  background: var(--primary-dark);
  transform: translateY(-2px);
}

.rating {
  color: var(--primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.heroImageWrapper {
  flex: 0.8;
  aspect-ratio: 4/3;
  border-radius: 16px;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroImage {
  width: 100%;
  height: 100%;

  transition: transform 0.3s ease;
}

.imageAlert {
  font-size: 0.8rem;
  color: #666;
  margin-top: 0.75rem;
  opacity: 0.8;

  max-width: 18rem;
  text-align: center;
}

.heroImageWrapper:hover .heroImage {
  transform: scale(1.05);
}

.footer {
  background: var(--bg-dark);
  padding: 2rem;
  border-top: 1px solid rgba(0, 255, 133, 0.1);
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #666;
}

@media (max-width: 1024px) {
  .hero {
    padding: 2rem;
    gap: 2rem;
  }

  .title {
    font-size: 2.8rem;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }

  .heroContent {
    align-items: center;
  }

  .cta {
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 2.5rem;
  }

  .heroImageWrapper {
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
    aspect-ratio: 16/9;
  }
}

.contactUsText {
  font-size: 0.9rem;
  color: #666;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  &:hover {
    color: rgb(160, 160, 160);
  }
}
