.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 400px;
    width: calc(100% - 4rem);
    background-color: #202020;
    border-radius: 10px;
    padding: 2rem;
    color: white;

    border: 2px solid #2f2f2f;

    margin: 1rem;
}

@media only screen and (max-width: 600px) {
    .modalContent {
        width: calc(100% - 2rem);
        padding: 1rem;
    }
}

.modalBody {
    width: 100%;
}
