:root {
  --yellow: #ffd700;
  --white: #ffffff;
  --button-hover-color: #ff8800;
  --input-border-color: #000000;
  --input-background-color: #ffffff;
  --input-focus-color: #333333;
}

/* Centering the container on the screen */
/* body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  background-color: var(--yellow);
  font-family: "Arial #1d1d1d", "Helvetica Bold", sans-serif;
} */

/* Minimal container styling */
.container {
  width: 300px;
  padding: 20px;
  background-color: var(--yellow);
  border: 2px solid #1d1d1d;
  border-radius: 5px;
  text-align: center;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  width: 98vw;
}

/* Minimal heading */
.loginHeading {
  font-size: 20px;
  font-weight: bold;
  color: #1d1d1d;
  padding-bottom: 2rem;
}

/* Minimal input styling */
.loginInput {
  margin-top: 1rem;
  width: 92%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
  background-color: var(--input-background-color);
  color: #1d1d1d;
  margin-bottom: 15px;
  transition: border-color 0.2s ease;
}

/* Focus effect for input */
.loginInput:focus {
  border-color: var(--input-focus-color);
  outline: none;
}

/* Minimal button styling */
.loginButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1d1d1d;
  color: var(--yellow);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}
