.backgroundContainer {
    background-color: #1d1d1d;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outerContainer {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
    background-color: #1d1d1d;
    color: #fff;
}

.eventThemeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.headerActions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.eventTitle {
    font-size: 1.5rem;
    color: #ffd700;
}

.backButton {
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.04);
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-family: Inter;
}

.eventDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;

    strong {
        color: #ffd700;
        margin-bottom: 0.5rem;
    }
}

.publicLinkContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    column-gap: 0.5rem;
    width: 100%;
}

.publicLink {
    font-size: 1rem;
    color: #fff;
    width: 100%;
    background-color: #2b2b2b;
    border: 4px;
    padding: 6px 12px;
    overflow: auto;
    overflow-y: hidden;
}

.copyButton {
    padding: 6px 12px;
    font-size: 0.9rem;
    background-color: #ffd700;
    color: #252525;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.2s ease;
}

.generateQrButton {
    padding: 6px 12px;
    font-size: 0.9rem;
    background-color: #ffd700;
    color: #252525;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;
}

.copyButton:hover {
    background-color: #ffc107;
}

.centerGridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    width: 100%;
}

.qrImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img {
        width: 100%;
        max-width: 300px;
        height: auto;
        border: 3px solid #ffd700;
    }
}

.copyQr {
    padding: 6px 12px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #ffd700;
    color: #252525;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;
    min-width: 5rem;
}

.gridHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.gridHeader {
    font-size: 1.25rem;
    color: #fff;
}

.gridDescription {
    font-size: 0.9rem;
    color: #fff;
    opacity: 0.8;
    margin-bottom: 1rem;
    max-width: 20rem;
}

.actionsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 1rem;
}

.leaderboardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    width: 100%;
}

.leaderboardButton {
    padding: 6px 12px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #ffd700;
    color: #252525;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;

    margin: 0 auto;
}

.gridCell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #ffd700;
    background-color: #2b2b2b;
    border: 1.5px solid #444;
    border-radius: 4px;
}

.gridInput {
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 1.2rem;
    color: #ffd700;
    background-color: #2b2b2b;
    border: 1.5px solid #444;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease;
}

.mmpConnectedPill {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    color: #fff;
    background-color: #2b2b2b;
    border-radius: 50px;
    margin-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.mmpConnectedPill.active {
    background-color: #ffd700;
    color: #1d1d1d;
    font-weight: bold;
}

.mmpConnectedText {
    color: #ffd700;
}

.mmpConnectedText.active {
    color: #1d1d1d;
}

.qrContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.qrLoaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pacmanLoader {
    margin-left: -3rem;
}

.loaderText {
    color: #ffd700;
    font-size: 0.9rem;
}

.gridInput:focus {
    border-color: #ffd700;
}

.generateButton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ffd700;
    color: #252525;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 1rem;
    font-weight: bold;
}

.generateButton:hover {
    background-color: #ffc107;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.editButton {
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffc107;
    background-color: #252525;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.editButton:hover {
    background-color: #1d1d1d;
}

.editButtonSmall {
    padding: 4px 8px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #ffc107;
    background-color: #252525;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.editButtonSmall:hover {
    background-color: #1d1d1d;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modalInput {
    padding: 10px;
    width: calc(100% - 20px);
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1.5px solid #444;
    border-radius: 4px;
    background-color: #2b2b2b;
    color: #fff;
    outline: none;
}

.modalLabel {
    font-size: 1rem;
    color: #ffd700;
}

.modalLabelDescription {
    font-size: 0.8rem;
    color: #fff;
    opacity: 0.7;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    font-weight: 400;
    max-width: 20rem;
}

.centerModalGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.modalInputHelperText {
    font-size: 0.9rem;
    color: #fff;
    margin-top: 0.25rem;
    margin-bottom: 1rem;

    span {
        color: #ffd700;
    }
}
.modalInput:focus {
    border-color: #ffd700;
}

.saveButton {
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ffd700;
    color: #252525;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.saveButton:hover {
    background-color: #ffc107;
}

.editIcon {
    margin-left: 0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
