.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1d1d1d;
    height: 3rem;
}

.navbarBrandingText {
    font-size: 1.25rem;
    color: white;
    font-weight: 500;
}

.navbarCTAButton {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3.6px; /* Reduced by 10% */
    font-weight: 600;
    background-color: #ffd700;
    font-size: 0.9rem; /* Reduced by 10% */
    color: #1d1d1d;
    margin-top: 0;
    padding: 0.45rem 0.9rem; /* Reduced by 10% */
    transition: background-color 0.3s;
}

.navbarCTAButton:hover {
    background-color: #ffdf00;
}

.buttonsContainer {
    display: flex;
    gap: 0.5rem;
}

.navbarSecondaryCTA {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    font-weight: 600;
    background-color: #252525;
    font-size: 0.9rem;
    color: #ffffff;
    padding: 0.5rem 1rem;
}

.navbarSecondaryCTA:hover {
    background-color: #333333;
}

.brandingImage {
    margin-top: 0.25rem;
    width: 10rem;
}
