.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;
}

.bingoGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 350px;
  /* Adjust based on desired mobile size */
}

.bingoLetters {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ffd700;
  margin-bottom: 2rem;
  font-weight: bold;
  column-gap: 1.5rem;
}

.bingoCell {
  aspect-ratio: 1;
  border: 2px solid #2f2f2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  min-width: 3.5rem;

  /* Adjust for mobile readability */
}

.bingoCell {
  transition: border-color 0.3s ease, color 0.3s ease;
}

.bingoCell:hover,
.active {
  border: 2px solid #ffd700;
}

.bingoCell:hover .letter,
.active .letter {
  color: #ffd700;
}

.bingoAchieved {
  background-color: #181818;
}

.selected {
  background-color: #ffd700;
}

.letter {
  transition: border-color 0.3s ease, color 0.3s ease;
  font-size: 23px;
  color: #616161;
  /* Smaller size for mobile */
}

.name {
  text-align: center;
  word-break: break-word;
  padding: 2px;
  font-size: 12px;
  /* Smaller size for mobile */
}

@media (min-width: 768px) {
  .bingoGrid {
    max-width: 500px;
    /* Larger size for tablets and up */
  }

  .bingoCell {
    font-size: 16px;
  }

  .name {
    font-size: 14px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(100% - 1rem);
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: #ffd700;
}

.inputFieldDescription {
  font-size: 0.85rem;
  color: white;

  span {
    color: #ffd700;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.input,
.textarea,
.fileInput {
  /* width: calc(100% - 4rem); */
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  width: calc(100% - 1rem);
  outline: none;
  border: none;
}

.textarea {
  min-height: 100px;
  resize: vertical;
}

.fileInput {
  /* width: calc(100% - 4rem); */
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.fileInput::-webkit-file-upload-button {
  margin-left: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  background-color: #84848437;
  color: #ffffff;
  cursor: pointer;
}

.fileInput::-webkit-file-upload-button:hover {
  background-color: #84848444;
}

.textarea {
  resize: none;
}

.submitButton {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  font-weight: 600;
  background-color: #252525;
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.6;
  margin-top: 0;
  padding: 0.5rem 1rem;
}

.backButton {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  font-weight: 600;
  background-color: #ffd700;
  font-size: 1rem;
  color: #252525;
  margin-top: 0;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.personDescriptionHeader {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffd700;
}

.personContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.personImage {
  width: 100px;
  border-radius: 8px;
}

.personName {
  font-size: 1rem;
  font-weight: 500;
  color: white;

  span {
    color: #ffd700;
  }
}

.personDescription {
  font-size: 0.85rem;
  color: white;
  font-weight: 400;
  opacity: 0.8;
}

.name {
  color: #ffd700;
}

.removeImage {
  background-color: #c92d2d;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.count {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  font-weight: bold;
}

.previewImageContainer {
  position: relative;
  display: flex;
  flex-direction: flex-start;
  align-items: flex-start;
  width: fit-content;
}

.closeButton {
  position: absolute;
  top: 2px;
  right: -11px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.floatingContainer {
  display: flex;
  align-items: flex-start;
}

.personImageContainer {
  flex-shrink: 0;
  margin-right: 1rem;
  float: left;
}

.personImage {
  max-width: 150px;
  height: auto;
}

.floatingText {
  flex-grow: 1;
}

.personName {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.personDescriptionHeader {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  span {
    color: #fff;
  }
  margin-bottom: 1rem;
}

.personDescription {
  text-align: justify;
}

.hiText {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
  margin-top: 1rem;

  span {
    color: #ffd700;
  }
}
