.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    padding: 20px;
    box-sizing: border-box;
    width: 100vw;
}

.bingoGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 350px;
    /* Adjust based on desired mobile size */
}

.bingoCell {
    aspect-ratio: 1;
    border: 2px solid #2f2f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    min-width: 3.5rem;

    /* Adjust for mobile readability */
}

.bingoCell {
    transition: border-color 0.3s ease, color 0.3s ease;
}

.bingoCell:hover {
    border: 2px solid #ffd700;
}

.bingoCell:hover .letter {
    color: #ffd700;
}

.selected {
    background-color: #ffd700;
}

.letter {
    transition: border-color 0.3s ease, color 0.3s ease;
    font-size: 23px;
    color: #616161;
    /* Smaller size for mobile */
}

.name {
    text-align: center;
    word-break: break-word;
    padding: 2px;
    font-size: 12px;
    /* Smaller size for mobile */
}

@media (min-width: 768px) {
    .bingoGrid {
        max-width: 500px;
        /* Larger size for tablets and up */
    }

    .bingoCell {
        font-size: 16px;
    }

    .name {
        font-size: 14px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(100% - 1rem);
}

.label {
    font-size: 1rem;
    color: #ffd700;
}

.inputFieldDescription {
    font-size: 0.85rem;
    color: white;

    span {
        color: #ffd700;
    }
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.input,
.textarea,
.fileInput {
    /* width: calc(100% - 4rem); */
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    width: calc(100% - 1rem);
    outline: none;
    border: none;
}

.textarea {
    min-height: 100px;
    resize: vertical;
}

.fileInput {
    /* width: calc(100% - 4rem); */
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.fileInput::-webkit-file-upload-button {
    margin-left: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    background-color: #84848437;
    color: #000000;
    cursor: pointer;
}

.fileInput::-webkit-file-upload-button:hover {
    background-color: #000000;
    color: #ffffff;
}

.textarea {
    resize: none;
}

.submitButton {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    font-weight: 600;
    background-color: #252525;
    font-size: 1rem;
    color: #ffffff;
    opacity: 0.6;
    margin-top: 0;
    padding: 0.5rem 1rem;
}

.personContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.personImage {
    width: 100px;
    border-radius: 8px;
}

.personName {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: #000000;
}

.personLiner {
    font-family: "Nunito", sans-serif;
    color: #333333;
    font-size: 0.9rem;
}

.backButton {
    background-color: #000000;
    color: #ffff00;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.backButton:hover {
    background-color: #333333;
}

.removeImage {
    background-color: #c92d2d;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}
