.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 1rem;
  position: fixed;
  height: 3rem;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  z-index: 100;
}

.footer a {
  width: 100px;
}

.footer a img {
  width: 100px;
  height: 60%;
  margin-left: 10px;
}

.social_container {
  width: max-content;
  height: 100%;
  display: flex;
  gap: 15px;
  margin-right: 20px;
}

.footer .social_container a {
  height: 100%;
  width: max-content;
  color: #fff;
  display: flex;
  align-items: center;

  &:hover {
    color: #ffd700;
  }
}

@media only screen and (max-width: 600px) {
  .footer a img {
    margin-left: 14px;
  }
  .footer .social_container {
    gap: 8px;
  }
}
