* {
    font-family: "Mona Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.startButton {
    background-color: #000000;
    color: #ffff00;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Webkit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #252525;
}

::-webkit-scrollbar-thumb {
    background-color: #84848437;
    border-radius: 6px;
    border: 3px solid #252525;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #84848444;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #84848437 #252525;
}

a {
    text-decoration: none;
    color: #ffff00;
}
