.backgroundContainer {
    background-color: #1d1d1d;
}

.outerContainer {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    min-height: calc(100vh - 15rem);
    overflow: hidden;
    background-color: #1d1d1d;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 600px;
    width: 100%;
}

.row {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
}

.cell {
    aspect-ratio: 1;
    position: relative;
    width: calc(20% - 0.4rem);
    overflow: hidden;
    border-radius: 4px;
    transition: transform 0.3s ease;
    cursor: pointer;
    height: auto;
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #1ed45e;
    img {
        width: 100%;
    }
}

.cell:hover {
    transform: scale(1.02);
    border-color: #1ed45e;
}

.cell:hover .image {
    filter: brightness(0.7);
}

@media (min-width: 768px) {
    .cell {
        border-width: 3px;
    }

    .overlay {
        padding: 1rem;
    }

    .name {
        font-size: 1rem;
    }

    .liner {
        font-size: 0.9rem;
    }

    .title {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1rem;
    }

    .row {
        gap: 0.25rem;
    }

    .cell {
        border-width: 1px;
    }

    .overlay {
        padding: 0.5rem;
    }

    .name {
        font-size: 0.8rem;
        margin-bottom: 0.15rem;
    }

    .liner {
        font-size: 0.7rem;
        -webkit-line-clamp: 1;
    }

    .title {
        font-size: 1.5rem;
    }
}

.personContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.floatingContainer {
    display: flex;
    align-items: flex-start;
}

.floatingText {
    flex-grow: 1;
}

.personDescriptionHeader {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    margin-bottom: 1rem;
}

.personDescriptionHeader span {
    color: #fff;
}

.personDescription {
    text-align: justify;
}

.personImageContainer {
    flex-shrink: 0;
    margin-right: 1rem;
    float: left;
}

.personImage {
    max-width: 150px;
    height: auto;
}

.backButton {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    font-weight: 600;
    background-color: #1ed45e;
    font-size: 1rem;
    color: #252525;
    margin-top: 0;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.playerName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: white;
    text-align: center;
}

.captureButton {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    font-weight: 600;
    background-color: #1ed45e;
    font-size: 1rem;
    color: #252525;
    margin-top: 0;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    min-width: 15rem;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.tagHelper {
    color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;

    span {
        color: #1ed45e;
    }
}

.viewDescription {
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    opacity: 0.7;
}

.headerActions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: calc(100% - 2rem);
    padding: 1rem;
}

.eventTitle {
    font-size: 1.5rem;
    color: #1ed45e;
}

.gobackButton {
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.04);
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-family: Inter;
}

.eventDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
    color: #ffffffd5;
    strong {
        color: #1ed45e;
        margin-bottom: 0.5rem;
    }
}
