.backgroundContainer {
    background-color: #1d1d1d;
}

.outerContainer {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 8rem);
    background-color: #1d1d1d;
    opacity: 1;
    padding: 1rem;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 400px;
    width: calc(100% - 4rem);
    background-color: #202020;
    border-radius: 10px;
    padding: 2rem;
    color: white;

    border: 2px solid #2f2f2f;
}

@media only screen and (max-width: 600px) {
    .loginContainer {
        width: calc(100% - 3rem);
        padding: 1.5rem;
    }
}

.logoContainerHeader {
    width: calc(100% - 2rem);
}

.loginContainerHeaderText {
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}

.loginContainerDescription {
    font-size: 0.85rem;
    color: white;
}

.inputFieldContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 2rem);
    margin-bottom: 1rem;
}

.inputFieldLabel {
    font-size: 1rem;
    color: #ffd700;
}

.inputFieldDescription {
    font-size: 0.85rem;
    color: white;
}

.inputField {
    width: calc(100% - 4rem);
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    width: 100%;
    outline: none;
    border: none;
}

.inputField:focus {
    outline: none;
    border: none;
}

.loginButton {
    width: calc(100% - 3rem);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    font-weight: 600;
    background-color: #252525;
    font-size: 1rem;
    color: #ffffff;
    opacity: 0.6;
    margin-top: 0;
    padding: 0.5rem 1rem;
    width: calc(100% - 1rem);
}

.funFact {
    margin-top: 1rem;
    font-size: 0.95rem;
    font-weight: 300;
    color: white;
    opacity: 0.8;
    max-width: 25rem;
    span {
        color: #ffd700;
    }
}

.pageHeaderText {
    font-size: 1.75rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;

    span {
        color: #ffd700;
    }
}

.errorText {
    color: #e94545;
    font-size: 0.85rem;
    margin-top: 0.5rem;
}

.makemypassConnectedMessage {
    font-size: 0.85rem;
    color: white;
    margin-top: 1rem;

    span {
        color: #ffd700;
    }
}
